body {
  font-family: 'Cinzel', serif;
  margin: 0;
  padding: 0;
  background-color: lavender;
  color: #333;
  overflow: hidden;
}

header {
  background-color: #ffcda2;
  color: #3f3f3f;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

.search {
  margin-top: 10px;
}

.search input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-family: 'Cinzel', serif;
}

.search button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background-color: #f0f0f0;
  outline: none;
  font-family: 'Cinzel', serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

#previousCities,
#currentWeather,
#forecast {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

#cityList {
  list-style-type: none;
  padding: 0;
}

#cityList li {
  cursor: pointer;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

#cityList li:last-child {
  border-bottom: none;
}

#cityList li:hover {
  background-color: #f0f0f0;
}

#currentWeatherData,
#forecastData {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#currentWeatherData p,
#forecastData p {
  margin: 0;
}


#forecast {
  text-align: center;
  margin: 0 auto;
}
